html, body{
    margin: 5px;
    padding: 5px;
    border: 5px;
    background-color: rgb(201, 230, 211);
}

#webheader {
    display: flex;
    justify-content: space-between;
    background-color:rgb(219, 238, 216);
    padding: 10px 10px 10px 50px;
    border: 5px rgb(131, 168, 126);
    border-style:hidden;
    margin: 5px;
    
}

#logo {width: 25%
}

#nav1 {
    display: flex;
    justify-content:space-around;
    width: 35vw;
    height: auto;
    align-items: center;
    
}

.link1{
    color:rgb(255, 254, 232);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(67, 112, 84);
    padding: 23px;
}

.link1:hover{
    color:rgb(52, 92, 67);
    background-color: rgb(208, 250, 253);
}

.link2{
    color:rgb(255, 254, 232);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(67, 112, 84);
    padding: 23px;
}

.link2:hover{
    color:rgb(52, 92, 67);
    background-color:lavenderblush;
}

.link3{
    color:rgb(255, 254, 232);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(67, 112, 84);
    padding: 23px;
}

.link3:hover {
    color:rgb(52, 92, 67);
    background-color:rgb(243, 243, 187);
}

.link4{
    color:rgb(255, 254, 232);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    background-color: rgb(67, 112, 84);
    padding: 23px;
}

.link4:hover {
    color:rgb(52, 92, 67);
    background-color:rgb(128, 163, 113);
}

#welcome{  
    background-image: url("assets/4.jpg");
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 5px;

    
}

#judul{
    color:rgb(234, 247, 242);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /*text-shadow: -2px 0 rgb(13, 14, 2), 0 3px rgb(224, 255, 86), 1px 0 yellowgreen, 0 -1px yellowgreen;*/
    padding: 30px ;
    margin: 5px;
    background-color:rgb(67, 112, 84);
}

#photoprofile {
    width: 500px;
    display: block;
    margin: auto;
    padding: 40px;  
}

.quote {color: rgb(170, 9, 9);}


#about{
    color: rgb(52, 92, 67);
    text-align: center;
    background-color: rgb(208, 250, 253);
    padding: 40px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;     
}

#gabout {
    width: 200px;
    display: block;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

#gabout:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#bg{
    color: rgb(52, 92, 67);
    text-align: center;
    background-color: lavenderblush;
    padding: 40px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;       
}

#gbg {
    width: 200px;
    display: block;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

#gbg:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


#story{
    color: rgb(52, 92, 67);
    text-align: center;
    background-color: lightyellow;
    padding:40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;  

}

#gstory {
    width: 200px;
    display: block;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

#gstory:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#lessons{
    color: rgb(52, 92, 67);
    text-align: center;
    background-color: rgb(205, 255, 228);
    padding:40px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px; 
}

#glessons{
    width: 200px;
    display: block;
    margin: auto;
    padding: 40px 0px 0px 0px;
}

#glessons:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@font-face {
    font-family: 'Yomogi';
    src: url('Yomogi-Regular.ttf');
    font-weight: bold;
}
.isi{
    color: black;
    text-align:justify;
    font-family:Yomogi;
    font-size: 20px;
    padding: 10px 150px 150px 150px;
    margin: 50px;
        
    
}
#footer{
    background-color: rgb(128, 163, 113);
    background-image: linear-gradient(rgb(214, 233, 220),rgb(159, 201, 187),rgb(128, 163, 113));
    height: 300px;
    font-family: Georgia;
    color: rgb(255, 248, 254);
    text-align: center;
    margin: 10px;
    
}
#nav2{
    display: block;
    margin: 30px;
}
.sosmed{
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    padding: 15px;
    background-color: rgb(109, 148, 100);
}

.sosmed:hover{
    opacity: 0.5;
}

#contact{padding:20px;
    font-size: 35px;
    color: rgb(27, 56, 32);
}
